{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-undef": 1,
    "eol": 0,
    "padded-blocks": 0,
    "eol-last": 1,
    "no-unused-vars": 1,
    "eqeqeq": [2, "smart"],
    "no-floating-decimal": 2,
    "no-multi-spaces": [2, {
      "exceptions": {
        "ImportDeclaration": true,
        "VariableDeclarator": true
      }
    }],
    "no-multi-str": 2,
    "camelcase": 1,
    "indent": [2, 2, {
      "SwitchCase": 1,
      "VariableDeclarator": 1
    }],
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "never"],
    "space-before-blocks": 2,
    "space-before-function-paren": [2, "never"],
    "constructor-super": 2,
    "arrow-spacing": 2,
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off"
  },

  "extends": ["eslint:recommended", "google"]
}
