{% set title = "Main" %}
{% set route = "home" %}

{% extends "layouts/_layout.html" %}
{% import "data/data.html" as items %}

{% block content %}

  
  <div class="container">
<h1>by emotion</h1>
<div class="cols">
<div class="img-wrapper"><img class="img-1 js-gl-img" src="./img/posters/1.jpg" alt=""></div>
<div class="img-wrapper"><img class="img-2 js-gl-img" src="./img/posters/2.jpg" alt=""></div>
<div class="img-wrapper"><img class="img-3 js-gl-img" src="./img/posters/3.jpg" alt=""></div>

</div>
<div class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, ex illo molestias reprehenderit totam commodi sapiente suscipit sequi quasi recusandae.</div>
  </div>
{% endblock %}