<link rel="preload" href="./fonts/GTSuperDisplay-Light.woff" type="font/woff" as="font" crossorigin="anonymous">
<link rel="preload" href="./fonts/GTSuperDisplay-Regular.woff" type="font/woff" as="font" crossorigin="anonymous">
<link rel="preload" href="./fonts/GTSuperDisplay-RegularItalic.woff" type="font/woff" as="font" crossorigin="anonymous">
<link rel="preload" href="./fonts/PTRootUI_Light.woff" type="font/woff" as="font" crossorigin="anonymous">
<link rel="preload" href="./fonts/PTRootUI_Regular.woff" type="font/woff" as="font" crossorigin="anonymous">
